body {
  font-family: "Varela Round", sans-serif;
  background: url("clouds.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app {
  margin: 30px auto;
  max-width: 700px;
}

.city-input {
  display: block;
  margin: auto;
  width: 100%;
  padding: 50 px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h4 img {
  display: block;
  margin: 0 auto;
}

p {
  text-align: right;
  position: relative;
  bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-weight: normal;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-size: 55px;
  color: black;
  text-transform: capitalize;
}

.weather forecast img {
  display: inline-block;
  margin: 0 auto;
  height: 15px;
  width: 15px;
}

h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 55px;
}
h3 {
  font-weight: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 38px;
  color: black;
  text-transform: capitalize;
}

h4 {
  text-align: center;
  color: black;
  font-size: 15px;
}

.values {
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
.calendar {
  text-align: center;
  position: relative;
  left: 3px;
}
footer {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: rgb(94, 91, 91, 10);
  opacity: 10px;
}
