.search-form {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;

  padding: 27px;
  border-radius: 7px;
  box-shadow: 7px 7px 5px #808080;

  border: none;
}

.card {
  border-style: solid;
  padding: 20px auto;
  margin: 0 auto;
  border-block-color: blue;
}

.current-emoji {
  color: rgb(7, 7, 6);
  font-size: 70px;
}
.card-body {
  color: rgb(8, 8, 6);
  border: 10px;
  border-radius: 10px 10px 5px;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
container {
  max-width: 850px;
  padding: 60px;
  margin: 0 auto;
}

footer {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;

  font-size: 12px;
  color: rgb(94, 91, 91, 10);
}
